{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %} {# Bootstrap container #}
    <header>
        {% block menu %}
        {% endblock %} {# menu #}
    </header>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    {%  block alerts %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                    </button>
                    <p>{{ message|raw }}</p>
                </div>
                </div style="min-height: 90%" class="container">



            {% endfor %}
        {% endfor %}
    {% endblock %} {# alerts #}

<div style="min-height: 90%" class="container">




    <h1>Etape index</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>NumeroEtape</th>
                <th>VilleEtape</th>
                <th>NombreJours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.id }}</td>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}</td>
                <td>
                    <a href="{{ path('admin_etape_show', {'id': etape.id}) }}">show</a>
                    <a href="{{ path('admin_etape_edit', {'id': etape.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('admin_etape_new') }}">Create new</a></p>
    <p><a href="{{ path('frontoffice_home') }}">Retour aux circuits</a></p>

{% endblock %}
