{% extends 'base.html.twig' %}

{% block title %}Etape{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/css/styles.css"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <h1>Etape</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etape.id }}</td>
            </tr>
            <tr>
                <th>NumeroEtape</th>
                <td>{{ etape.numeroEtape }}</td>
            </tr>
            <tr>
                <th>VilleEtape</th>
                <td>{{ etape.villeEtape }}</td>
            </tr>
            <tr>
                <th>NombreJours</th>
                <td>{{ etape.nombreJours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etape_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_etape_edit', {'id': etape.id}) }}">edit</a>
        {{ include('/back/etape/_delete_form.html.twig') }}
    {% endif %}


{% endblock %}
