{% extends 'base.html.twig' %}



{% block title %}Paste index{% endblock %}

{% block body %} {# Bootstrap container #}
	<header>
     {% block menu %}
                Bonsoir à tous
     {% endblock %} {# menu #}
 </header>

<link rel="stylesheet" href="/css/bootstrap.min.css">

{%  block alerts %}
 {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
{% endfor %}
{% endblock %} {# alerts #}

<div style="min-height: 90%" class="container">

{% for message in app.session.getFlashBag.get('message') %}
    {{ message }}
{% endfor %}

    <h1>Paste index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created</th>
                <th>Content_type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paste in pastes %}
            <tr>
                <td>{{ paste.id }}</td>
                <td>{{ paste.content }}</td>
                <td>{{ paste.created ? paste.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paste.contentType }}</td>
                <td>
                    <a href="{{ path('paste_show', {'id': paste.id}) }}">show</a>
                    <a href="{{ path('paste_edit', {'id': paste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paste_new') }}">Create new</a>

    <a href="{{ path('home') }}">Retour à l'accueil</a>

<script src="/js/bootstrap.min.js"></script>

{% endblock %}
