<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>

<header id="header" role="banner" class="main-header">
    <div class="header-inner">



        <nav class="header-nav">
            <ul>
                <li><a href={{  path('home') }}>Home</a></li>
                <li><a href={{ path('frontoffice_home') }}>Circuits</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/T%C3%A9l%C3%A9com_SudParis" target="_blank">About us</a></li>
                <li><a class="nav-link" href={{ path('fos_user_security_login')}}>Log In</a></li>
            </ul>
        </nav>

    </div>
</header>


<h1>Circuit {{circuit.id}}</h1>


<table class="table">
    <tbody class="thead-dark">
        <tr>
            <th>Id</th>
            <td>{{ circuit.id }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ circuit.paysDepart }}</td>
        </tr>
    </tbody>
</table>



<table class ="table">
  <thead class="thead-light">

    <tr>
		<th>Pays de départ</th>
		<th>Ville de départ</th>
        
                
                

  </thead>

  	<tr>
    		<td>{{ circuit.paysDepart }}</td>
   		<td>{{ circuit.villeDepart }}</td>
		
    		
  </tr>
</table>

<h2>Etapes</h2>

<table class="table">
	<thead class="thead-light">


		<tr>
			<th>Numéro</th>
			<th>Ville</th>
			<th>Nombre de jours</th>
		</tr>
	</thead>

	{% for etape in circuit.etapes %}
	<tr>
		<td>{{ etape.numeroEtape }}</td>
		<td>{{ etape.villeEtape }}</td>
		<td>{{ etape.nombreJours }}</td>
	</tr>
	{% endfor %} {# etapes #}	

</table>

<a href="{{ path('frontoffice_home') }}"><kbd>retour aux circuits</kbd></a>



{% if circuit.id == 1 %}

<ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id + 1}}">Next</a></li>
</ul>

    {%  elseif circuit.id == 4 %}

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id - 1}}">Previous</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        </ul>

    {% else %}

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id - 1}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id + 1}}">Next</a></li>
        </ul>

{% endif %}

