{% extends 'base.html.twig' %}

{% block title %}Site de voyage{% endblock %}

{% block body %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/bootstrap.min.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



<h1>Circuit {{circuit.id}}</h1>


<table class="table">
    <tbody class="thead-dark">
        <tr>
            <th>Id</th>
            <td>{{ circuit.id }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ circuit.paysDepart }}</td>
        </tr>
    </tbody>
</table>



<table class ="table">
  <thead class="thead-light">

    <tr>
		<th>Pays de départ</th>
		<th>Ville de départ</th>
        
                
                

  </thead>

  	<tr>
    		<td>{{ circuit.paysDepart }}</td>
   		<td>{{ circuit.villeDepart }}</td>
		
    		
  </tr>
</table>

<h2>Etapes</h2>

<table class="table">
	<thead class="thead-light">


		<tr>
			<th>Numéro</th>
			<th>Ville</th>
			<th>Nombre de jours</th>
		</tr>
	</thead>

	{% for etape in circuit.etapes %}
	<tr>
		<td>{{ etape.numeroEtape }}</td>
		<td>{{ etape.villeEtape }}</td>
		<td>{{ etape.nombreJours }}</td>
	</tr>
	{% endfor %} {# etapes #}	

</table>

<a href="{{ path('frontoffice_home') }}"><kbd>retour aux circuits</kbd></a>



{% if circuit.id == 1 %}

<ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id + 1}}">Next</a></li>
</ul>

    {%  elseif circuit.id == 4 %}

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id - 1}}">Previous</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        </ul>

    {% else %}

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id - 1}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/circuit/{{ circuit.id + 1}}">Next</a></li>
        </ul>

{% endif %}

{% endblock %}
