{% extends 'base.html.twig' %}

{% block title %}Hello {{ "home" }}!{% endblock %}

{% block body %}


<link rel="stylesheet" href="/css/styles.css"
<link rel="stylesheet" href="/css/bootstrap.min.css">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <header id="header" role="banner" class="main-header">
        <div class="header-inner">



            <nav class="header-nav">
                <ul>
                    <li><a href={{  path('home') }}>Home</a></li>
                    <li><a href="home">Circuits</a></li>
                    <li><a href="https://fr.wikipedia.org/wiki/T%C3%A9l%C3%A9com_SudParis" target="_blank">About us</a></li>
                    <li><a class="nav-link" href={{ path('fos_user_security_login')}}>Log In</a></li>
                </ul>
            </nav>

        </div>
    </header>

<div class="jumbotron jumbotron-fluid">
<h1>Liste des circuits</h1>
</div>
    <table class="table table-bordered">
        <thead class="thead-dark">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
            <tr>
                <th>Id</th>
                <th>Région</th>
		
            </tr>

        </thead>
        <tbody>
	{%dump(circuits)%}


        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
		<th>{{ circuit.description}}</td>
		<td><a href="{{ path('front_circuit_show', {id: circuit.id}) }}">détails</a></td>
                <td>
                    {{ include('Likes') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no circuits found</td>
            </tr>
        {% endfor %}
        </tbody>


    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('circuit_index') }}"><button type="button" class="btn btn-primary">Modification des circuits</button></a></p>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('etape_index') }}"><button type="button" class="btn btn-primary">Modification des étapes</button></a></p>
    {% endif %}
    <p></p><a href="{{ path('home') }}"><kbd>Retour à l'accueil</kbd></a></p>
	

<script src="/js/bootstrap.min.js"></script>


{% endblock %}
